<header class="container-fluid py-3 text-center">
    <div class="d-flex justify-content-center align-items-center mb-3">
        <img src="/static/image/tackle_box.png" alt="Tackle Box" style="height: 3em;" class="me-2" />
        <h1 class="m-0">The Flybox</h1>
    </div>

    <nav class="navbar navbar-expand-sm navbar-light bg-light rounded shadow-sm px-3">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/shop-scraper">Shop Scraper</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/report-scraper">Report Scraper</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </nav>
</header>

<script src="/static/js/navbar.js" type="text/javascript"></script>