<main class="container mt-5">
    <h1 class="mb-2"><u>About</u></h1>
    <p>
        Flybox is a project focused on providing up-to-date fly-fishing reports and shop information.
        Our tools scrape and summarize data from fishing websites, helping anglers
        find the best spots and stay informed on river conditions.
    </p>
</main>
