<main class="container text-center py-0">
    <h1 class="display-2 mb-3 text-secondary"><b><%= status_code %></b></h1>
    <h1 class="display-6"><%= heading || "Gone Fishing..." %></h1>
    <p class="lead"><%= message || "Looks like the page you were trying to find has drifted downstream." %></p>

    <div class="my-4 text-center" style="max-width: 300px; margin: 0 auto;">
        <img src="/static/image/calvin-fishing.gif" alt="Fishing Gif" class="img-fluid rounded" />
    </div>

    <a href="/" class="btn btn-primary btn-lg px-4">Cast a Line Back Home</a>
</main>
